.site__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    background-color: $color__background-main;
}
.main__titre {
    font-size: 2rem;
    width: 100%;
    display: block;

}
.carte {
    display: flex;
    flex-direction: column;
    border: 1px solid 1px;
    width: 100%;
    @media screen and (min-width: $largeur__media-tablette) {
        width: 45%;
    }
    @media screen and (min-width: $largeur__media-desktop) {
        width: 28%;
    }

    padding: 10px;
    background-color: $color__background-main;
    border-radius: 25px;
}
.carte__titre {
    font-size: 1.5rem;
    color: $color__texte_titre;
}
.carte__contenu {
    font-size: 0.8rem;
    color: $color__texte_paragraphe;
}
