.site__header {

    display: flex;
    flex-direction: column;
    
    @media screen and (min-width:$largeur__media-tablette) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__titre {

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $font__header-h1;
            font-size: clamp(0.5rem, 3vw, 7rem);
            margin: 0;
            padding-right: 15px;
            
        }

        h2 {
            font-family: $font__header-h2;
            font-size: clamp(0.8rem, 2.5vw, 5.5rem);
            padding-right: 60px;
        }
    }

    &__util {
        display: flex;
        flex-direction: column;
        
    }
}
.site__barre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icone {
    display: flex;
    justify-content: center;
    &__lien {
        padding: 10px;
    }
}

//--------------------------------------------recherche-------------------------------------------------
.recherche {
    display:flex;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    &__input {
        padding:0;
        margin:0;
        width: 100%;
        background-color: $color__search-bar;
        border: none;
        color: $color__texte;
    }

    &__bouton {
        position: absolute;
        right: 0;
        width: 29px;
        height: 20px;
        outline:none;
        border:none;
        padding:0;
        margin:0;
        background-color: $color__search-bar;
        border: none;
    }
}