#chk-burger{
    display: none;
}

#burger{
    position: absolute;
    transform: rotate(0deg);
    transition: 0.3s;
}

#chk-burger:checked ~ #burger{
    transform: rotate(90deg);
}

#chk-burger:checked ~ .menu-principal-container{
    display: block;

}



.menu-principal-container {
    display: none;
    padding: 30px 0 0 0;

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        margin: 0;
        padding: 0;

        a {
            font-family: $font__navigation-a;
            padding: 5px;
            text-decoration: none;

            &:hover {
                background-color: $background__link-hover;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: $largeur__media-tablette) {
    .menu-principal-container{
        display: block;
    }
    #burger{
        display: none;
    }
}