/* ---------------- BACKGROUND */
$color__background-body : hsl(19, 100%, 49%);
$color__background-main : hsl(24, 84%, 82%);
$color__background-cours : hsl(34, 100%, 91%);
$color__background-header : hsl(19, 94%, 66%);
$color__background-barre : hsl(32, 69%, 54%);
$color__background-footer : hsl(18, 79%, 13%);
$color__background-link : hsl(29, 63%, 70%);
$color__background-link-hover : hsl(0, 64%, 44%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(0, 98%, 25%);
$color__link__footer-visited : hsl(32, 100%, 22%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(7, 98%, 24%);
$color__link__header-visited : hsl(22, 100%, 25%);

/* ---------------- FONT */
$color__font-header : rgb(255, 0, 0);
$color__font-main :rgb(144, 3, 3);
$color__font-barre : rgb(144, 3, 3);
$color__font-footer : rgb(206, 99, 0);

//404
$color_background-404 : rgb(144, 0, 0);
