$color__background-body: rgb(197, 125, 125);
$color__background-header:#555;
$color__background-barre:rgb(116, 37, 37);
$color__background-footer:rgb(56, 34, 34);
$color__background-main:rgb(168, 47, 47);
// liens
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background__link-hover : rgb(240, 240, 167)