$color__background-body: rgb(192, 0, 0);
$color__background-body-grand-ecran: rgb(255, 255, 255);
$color__background-header: rgb(192, 0, 0);
$color__background-barre: rgb(197, 125, 125);
$color__background-footer: rgb(0, 0, 0);
$color__background-main: rgb(155, 155, 155);
// liens
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background__link-hover : rgb(240, 240, 167);
//couleur search bar
$color__search-bar : rgba(255, 255, 255, 0.233);
//couleur texte
$color__texte: rgb(255, 255, 255);
$color__texte_titre: rgb(7, 7, 7);
$color__texte_paragraphe: rgb(47, 47, 47);