.evenement{
    background-color: rgb(65, 2, 2);
    &__endroit{

    }
    &__date{
        
    }
    &__heure{

    }
    &__organisateur{
        background-color: rgb(136, 141, 218);
    }
    &__image{

    }
    &__resume{
        background-color: rgb(233, 152, 152);
    }
    


}