.site__header {
  background-color: $color__background-header;
  color: $color__font-header;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width : 700px){
    flex-direction: row;
  }
  &__titre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.custom-logo-link, .header__titre, .util {
  padding-left: 20px;
}


.header__titre {
  font-size: clamp(3rem, 4vw, 6rem);
  font-family: $font__titre;
  

}

.header__description {
  font-size: clamp(2rem, 2vw, 4rem);
  font-family: $font__main;
}

.util {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  padding: 10px;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  
  @media screen and (min-width:700px){
    width:300px;
    margin-left : auto;
    margin-right: 20px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  .svg{
    font-size: clamp(0.2rem, 2.5vw, 0.8rem);
  }
}